{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
  <div class="container">
    <div class="row">
    {% include 'includes/dashboard_sidebar.html' %}
    <main class="col-md-9">
      <article class="card">
      <header class="card-header">
        <strong class="d-inline-block mr-3">Історія ваших замовлень:</strong>
      </header>
      <div class="card-body">
        <div class="row"> 
         <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Замовлення #</th>
                <th scope="col">Контактна особа</th>
                <th scope="col">Телефон</th>
                <th scope="col">Дата</th>
                <th scope="col">Сума в Замовленні</th>
                <th scope="col">Статус</th>
              </tr>
            </thead>
            <tbody>
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% for order in orders %}
                {% if order.status not in 'Скасовано' %}
              <tr>
                <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number }}</a></th>
                <td>{{ order.full_name }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.order_total }}</td>
                <td>{{order.status}}</td>
                <td>
                  {% if order.status == 'New' or order.status == 'Прийнято' %}
                  <form method="post" action="{% url 'my_orders' %}">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <input type="hidden" name="action" value="discard">
                    <button type="submit" class="btn btn-danger smaller-button">Скасувати</button>
                  </form>
                  {% endif %}
                </td>
              </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
         </div>
          
        </div> <!-- row.// -->
      </div> <!-- card-body .// -->
     
      </article> <!-- order-group.// --> 
    </main>
  </div> <!-- row.// -->
  </div>
  
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->

  <!-- {% if order.is_ordered == True %}
  <span class="checkmark" style="color: green;">&#10004 Завершено</span>
  {% else %}До сплати: <span style="font-weight: bold; color: red;">{{order.remaining_balance}}</span>
  {% endif %}
checmarks code  --> 


{% endblock %}