/* hide radio buttons */
.rate > input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
}

.rate > label {
  float: right;
}

/* Showing the stars */
.rate > label:before {
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin: 0;
  padding: 0.3rem .2rem;
  cursor: pointer;
}

/* Half Star */
.rate .half:before {
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label {
  color: #ffb503;
}

/* hover highlight */
input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
  color: #cc9000;
}

.rating-star i{
  color: #ffb503 !important;
}

ul.thumb {
  margin: 0 auto;
  padding: 0;
  float: left;
}

/* Style for thumbnail images */
ul.thumb li {
  list-style: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

ul.thumb li img {
  width: 80px;
  height: 80px;
  border: 1px solid grey;
}

footer {
  background: #708090;
}

.smaller-button {
  font-size: 12px;
  padding: 4px 8px;
}

/* Set max-width to maintain aspect ratio */
.main-image,
.thumbnail-image {
  max-width: 100%;
  height: auto;
}

/* Center images within their containers */
.img-big-wrap,
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Simplified styles for img tags */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

/* Center text within img-big-wrap links */
.gallery-wrap .img-big-wrap a {
  text-align: center;
}

/* Link color */
a {
  color: #3167eb;
}

/* Ensure consistent box sizing */
*, ::before, ::after {
  box-sizing: border-box;
}

/* No need for word-wrap on cards */
.card {
  overflow-wrap: break-word;
}

 /* Hide specific columns on small screens */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

/* configure order_detail */
@media (max-width: 767px) {
  .invoice-details,
  .invoice-items,
  .invoice-footer {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.selected-row {
  background-color: #f9f9f9;
}

.table-responsive {
  overflow-x: auto;
}

.table td {
  white-space: normal;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .table th,
  .table td {
    font-size: 13px;
  }
}

@media only screen and (max-width: 360px) {
  /* Styles for Samsung S8 screen width */
  .btn-remove {
      font-size: 10px; /* Adjust the font size */
      padding: 3px 5px; /* Adjust the padding */
  }
}

/* style for navbar */
.widget-header {
  text-align: right;
}

.title {
  font-size: 14px;
  color: #555;
}

.guest-links a,
.user-links a {
  margin-left: 10px;
}

.user-name {
  font-weight: bold;
  margin-right: 10px;
}


.btn-succes:hover {
  background-color: #007bff;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
} 

.logo {
  width: 120px;
}

/* Apply consistent box sizing to all elements */
*,
::before,
::after {
  box-sizing: border-box;
}













