{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
  <div class="container">

    <h2>Про Нас </h2>
    <h3 class="text-center">Вітаємо Вас у магазині Velosich</h3>
    <p>Наша компанія присутня на ринку велотоварів, садової техніки, запчастин до бензопил та бензокос вже більше 10 років. Завдяки злагодженій роботі колективу, що складається з грамотних досвідчених фахівців, ми змогли набути статусу серйозного ділового партнера. Всі наші товари доставляються з Китаю без посередників, тому ми можемо запропонувати наші товари за найнижчими цінами.</p>
    <br>
    <h3>Наші переваги</h3>
    <ul>
      <li>Великий асортимент якісних оригінальних товарів та копій.</li>
      <li>Працюємо без посередників, перші руки!</li>
      <li>Доступні ціни для людей із різним рівнем доходів.</li>
      <li>Вигідні умови для оптових покупателей.</li>
      <li>Регулярні акції</li>
      <li>Гнучкі системи знижок, залежно від кількості придбаних товарів.</li>
      <li>Оперативне опрацювання заявок.</li>
      <li>Швидка та акуратна доставка замовлень по всій Україні, Накладений платіж за наш рахунок !</li>
      <li>Надання гарантії.</li>
    </ul>
    <p>Ми також завжди раді надати своїм клієнтам консультацію у підборі потрібних товарів та запчастин. Спеціально для зручності користувачів ми розробили інтуїтивно зрозумілий інтерфейс сайту. Всі вироби розділені на категорії за моделями та брендами, що значно полегшує пошук.</p>
    <p>Велика увага приділяється уважному обслуговуванню покупців. Товари доставляються у спеціальній надійній упаковці, яка убезпечує їх від пошкодження під час транспортування. Якщо ж у виробі виявиться дефект, клієнт завжди може звернутися до наших менеджерів і обміняти товар .</p>
  </div>

</body>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}