{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
<!-- ========================= SECTION PAGETOP ========================= -->
<h1>Оплата та Доставка</h1>
<br>
<h3>Оплата</h3>  
<p>Ми намагаємося запропонувати покупцеві різноманітність варіантів оплати – одна з умов безпечної, зручної та швидкої покупки. Ми забезпечили своїм клієнтам всі можливості для такого вибору.</p>
<p><h6>Способи Оплати</h6></p>
<ul>
  <li>Сплатити замовлення післяплатою за фактом отримання у служби доставки</li>
  <li>Готівкою в офісі компанії або в магазині</li>
  <li>Перерахувавши кошти на картку ПриватБанку/МоноБанку через інтернет-банкінг або термінал поповнення</li>
  <li>банківським переказом на розрахунковий рахунок</li>
</ul>
<br>
<h3>Доставка</h3>  
<p>Наш інтернет-магазин пропонує кілька варіантів доставки:</p>
<ul>
  <li>Самовивіз із магазину у Вінниці - безкоштовно</li>
  <li>Нова Пошта - за тарифами служби доставки</li>
  <li>Укр Пошта - за тарифами служби доставки</li>
  <li>Приватний перевізник – за тарифами перевізника</li>
</ul>

</body>
  <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}