{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
<!-- ========================= SECTION PAGETOP ========================= -->
<div class="container">

  <h1>Повернення та Обмін</h1>
  <br>
  <p>Якщо з якоїсь причини куплений у нас товар Вам не підійшов, ми повернемо Вам гроші!</p>
  <p><h6>Необхідно лише врахувати деякі вимоги:</h6></p>
  <ul>
    <li>куплений товар не повинен мати слідів встановлення, а також експлуатації;</li>
    <li>товар повинен бути в оригінальній упаковці та з усіма супровідними документами;</li>
  </ul>
  <br>
  <h6>Витрати на пересилання товару під час обміну або повернення:</h6>  
  <ul>
    <li>якщо повернення або обмін товару – Ваша ініціатива, то транспортні витрати (послуги пошти, виїзд кур'єра) лягають на Вас;</li>
    <li> якщо товар бракований або не відповідає Вашому замовленню з нашої вини, всі транспортні витрати на повернення або заміну несе магазин;</li>
  </ul>
  <p>Після отримання нами товару ми перевіримо його на відповідність усім вищезгаданим вимогам і повернемо гроші зручним для Вас способом.</p>
  <br>
  <h6>Для повернення або обміну товару Вам потрібно зв'язатися з магазином за телефоном та обговорити повернення товару: 380680273100</h6>
</div>

</body>
  <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}